@font-face {
  font-family: Lateral;
  src: url("fonts/Lateral-StandardRegular.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Lateral;
  src: url("fonts/Lateral-StandardMedium.woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: Lateral, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.app {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 320px 1fr;

  --text-color: black;
  --background-color: white;
  --border-color: hsla(0, 0%, 0%, 0.1);
}

.app.inverted {
  --text-color: white;
  --background-color: black;
  --border-color: hsla(0, 0%, 100%, 0.2);
}

.sidebar {
  color: var(--text-color);
  background: var(--background-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.inputGroup + .inputGroup {
  margin-top: 24px;
}

label {
  display: block;
}

canvas {
  height: 100vh !important;
  width: 100% !important;
  object-fit: contain;
  display: block;
  background: var(--background-color);
}

input,
button {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  border-radius: 4px;
  cursor: pointer;
}

label {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

.sidebar header {
  padding: 16px 16px 24px;
  border-bottom: 1px solid var(--border-color);
}

.sidebar header svg,
.sidebar header img {
  fill: var(--text-color);
  margin: 8px 8px 24px;
}

.controls {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
}

.controls.disabled {
  opacity: 0.2;
  pointer-events: none;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--border-color);
  margin: 24px 0;
}

.button.large {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  background-color: var(--text-color);
  color: var(--background-color);
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%;
  height: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  border-radius: 2px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  border-radius: 50%;
  background: grey; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 16px; /* Set a specific slider handle width */
  height: 16px; /* Slider handle height */
  background: grey; /* Green background */
  cursor: pointer;
}

.exportContainer {
  padding: 16px;
  border-top: 1px solid var(--border-color);
}

h4 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 0 0 16px;
  font-weight: 600;
}

.checkboxGroup {
  display: flex;
  align-items: center;
}

.checkboxGroup label {
  margin: 0 0 0 4px;
}

.checkboxGroup input {
  margin: 2px;
  height: 12px;
  width: 12px;
}

.checkboxGroup + .checkboxGroup {
  margin-top: 16px;
}

.button:disabled {
  opacity: 0.2;
}
